{% extends 'base.html' %}

{% block content %}
<section class="contact">
    <div class="container">
        <h2>Contact Me</h2>
        <p>If you have any questions or would like to get in touch, feel free to reach out!</p>
        <div class="contact-details">
            <p><strong>Email:</strong> <a href="mailto:kunalchopde98@gmail.com">kunalchopde98@gmail.com</a></p>
            <p><strong>LinkedIn:</strong> <a href="https://www.linkedin.com/in/kunal-chopde-812720267/">Connect with me on LinkedIn</a></p>
        </div>
    </div>
</section>
{% endblock %}
