{% extends 'base.html' %}

{% block content %}
<section class="projects">
    <div class="container">
        <h2>My Projects</h2>
        <div class="project-grid">
            <div class="project-card">
                <h3>Flipkart Web Scraper</h3>
                <p>Extract product details, reviews, and offers from Flipkart using Python and Flask.</p>
                <a href="https://github.com/kunalsir98/flipkart_scraping.git" class="button">View Project</a>
            </div>
            <div class="project-card">
                <h3>Mushroom Classification</h3>
                <p>A machine learning project based on mushroom classification.</p>
                <a href="https://github.com/kunalsir98/internship_mushroom_classification.git" class="button">View Project</a>
            </div>
            <div class="project-card">
                <h3>Compressive concrete strength prediction</h3>
                <p>A project which will help us to predict strength of Concrete.</p>
                <a href="https://github.com/kunalsir98/internship_Concrete-Compressive-Strength-Prediction.git" class="button">View Project</a>
            </div>
            <div class="project-card">
                <h3>Credit Card Fraud Detection</h3>
                <p>Predict fraudulent credit card transactions using machine learning.</p>
                <a href="https://github.com/kunalsir98/credit-fault-detection.git" class="button">View Project</a>
            </div>
            <div class="project-card">
                <h3>Breast Cancer Prediction</h3>
                <p>A model for predicting the diagnosis of breast cancer.</p>
                <a href="https://github.com/kunalsir98/breast_cancer.git" class="button">View Project</a>
            </div>
            <div class="project-card">
                <h3>Loan Approval Prediction</h3>
                <p>Predict loan approval status using machine learning models and Flask.</p>
                <a href="https://github.com/kunalsir98/loan-approval-prediction.git" class="button">View Project</a>
            </div>
            <div class="project-card">
                <h3>Customer relationship analysis</h3>
                <p>A machine learning project for understanding Customer relationship.</p>
                <a href="https://github.com/kunalsir98/Customer-Relationship-analysis.git" class="button">View Project</a>
            </div>
            <div class="project-card">
                <h3>Zomato service prediction</h3>
                <p>A machine learning system for predicting how Zomato is delevering their order and how much time they require to deliver it.</p>
                <a href="https://github.com/kunalsir98/Delivery.git" class="button">View Project</a>
            </div>
            <div class="project-card">
                <h3>Next word predictor</h3>
                <p>A project based on nlp.</p>
                <a href="https://github.com/kunalsir98/next-word-predictor-LSTM.git" class="button">View Project</a>
            </div>
            <div class="project-card">
                <h3>Abalone_Prediction</h3>
                <p>A project which will help to predict sex of abalone.</p>
                <a href="https://github.com/kunalsir98/abalone_prediction.git" class="button">View Project</a>
            </div>
            <div class="project-card">
                <h3>Gemstone Prediction</h3>
                <p>Predict various Gemstone price.</p>
                <a href="https://github.com/kunalsir98/gemstone-prediction.git" class="button">View Project</a>
            </div>
            <div class="project-card">
                <h3>Computer hardware prediction</h3>
                <p>Predict computer hardware speed.</p>
                <a href="https://github.com/kunalsir98/computer-hardware.git" class="button">View Project</a>
            </div>
            <div class="project-card">
                <h3>Spam Email Classifier</h3>
                <p>A classification model that identifies and filters out spam emails.</p>
                <a href="https://github.com/kunalsir98/spam-detection-kunal.git" class="button">View Project</a>
            </div>
        </div>
    </div>
</section>
{% endblock %}
